[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
gunicorn = "*"
numpy = "*"
pandas = "*"
Pillow = "*"


[requires]

python_version = "2.7"